scikit-learn
pandas
streamlit
matplotlib
seaborn
numpy
dash
dash-bootstrap-components
dash-auth
explainerdashboard
gunicorn
jupyter_dash
dtreeviz
numpy
MySQL
pandas
scikit-learn
shap
joblib
oyaml
click
waitress
flask_simplelogin
Werkzeug
